All merged databases are loaded into the notebook:

In [1]:
import pandas

all_2014 = '../data/all_merged_by_year/all_databases_merged_2014.csv'
all_2014 =  pandas.read_csv(all_2014, index_col=0)

all_2015 = '../data/all_merged_by_year/all_databases_merged_2015.csv'
all_2015 =  pandas.read_csv(all_2015, index_col=0)

all_2016 = '../data/all_merged_by_year/all_databases_merged_2016.csv'
all_2016 =  pandas.read_csv(all_2016, index_col=0)

all_2017 = '../data/all_merged_by_year/all_databases_merged_2017.csv'
all_2017 =  pandas.read_csv(all_2017, index_col=0)

all_2018 = '../data/all_merged_by_year/all_databases_merged_2018.csv'
all_2018 =  pandas.read_csv(all_2018, index_col=0)

all_2019 = '../data/all_merged_by_year/all_databases_merged_2019.csv'
all_2019 =  pandas.read_csv(all_2019, index_col=0)

All databases are merged and sorted for clarity

In [2]:
all_together = pandas.concat([all_2014, all_2015, all_2016, all_2017, all_2018, all_2019])
all_together = all_together.sort_values(['Country of domicile', 'Year'])
all_together.head()

,Year,Number of Undergraduate Students,GDP per Capita,Tertiary Education Enrollment,Tertiary Expenditure,GINI,HDI,Population
Country of domicile,,,,,,,,
Afghanistan,2014,0,2102.384604,8.23068,12.41128,NaN,0.500,33370804.0
Afghanistan,2015,0,2068.265904,NaN,15.95379,NaN,0.500,34413603.0
Afghanistan,2016,0,2057.067978,NaN,NaN,NaN,0.502,35383028.0
Afghanistan,2017,0,2058.400221,NaN,NaN,NaN,0.506,36296111.0
Afghanistan,2018,0,2033.804389,9.68642,NaN,NaN,0.509,37171922.0

Rows with 0 undergraduate students and "total" country data are removed, as they are not considered relevant for the research:

In [ ]:
all_together = all_together[all_together['Number of Undergraduate Students'] != 0]
all_together = all_together[~all_together.index.str.contains("Total")]

The complete cleaned dataset is exported to .csv:

In [7]:
all_together.to_csv(f'../completed_datasets/all_indexes.csv', index=True)