Import the pandas library and open the HESA database:

In [2]:
import pandas
year = '2014-15'
data_path = f'../data/hesa_unedited/table-28-({year}).csv'
hesa =  pandas.read_csv(data_path, index_col=0, skiprows=14)

Find rows for full-time UCL students:

In [3]:
ucl_total = hesa.loc[hesa['HE provider'] == 'University College London']
ucl_fulltime = ucl_total.loc[ucl_total['Mode of study'] == 'Full-time']
ucl_fulltime.head()

,HE provider,Country of HE provider,Region of HE provider,Level of study,Mode of study,Academic Year,Region of domicile,Country of domicile,Number
UKPRN,,,,,,,,,
10007784.0,University College London,England,London,First degree,Full-time,2014/15,Geographic region - Other European Union,Åland Islands,0
10007784.0,University College London,England,London,Other undergraduate,Full-time,2014/15,Geographic region - Other European Union,Åland Islands,0
10007784.0,University College London,England,London,Postgraduate (research),Full-time,2014/15,Geographic region - Other European Union,Åland Islands,0
10007784.0,University College London,England,London,Postgraduate (taught),Full-time,2014/15,Geographic region - Other European Union,Åland Islands,0
10007784.0,University College London,All,London,First degree,Full-time,2014/15,Geographic region - Other European Union,Åland Islands,0

Step 1 narrows down to just undergrads. Step 2 and the last step ensure only the total figure is used.

In [4]:
step_1 = ucl_fulltime.loc[ucl_fulltime['Level of study'] == 'All undergraduate']
step_2 = step_1.loc[step_1['Country of HE provider'] == 'All']
ucl_fulltime_undergrad = step_2.loc[step_2['Region of HE provider'] == 'All']
ucl_fulltime_undergrad.head()

,HE provider,Country of HE provider,Region of HE provider,Level of study,Mode of study,Academic Year,Region of domicile,Country of domicile,Number
UKPRN,,,,,,,,,
10007784.0,University College London,All,All,All undergraduate,Full-time,2014/15,Geographic region - Other European Union,Åland Islands,0
10007784.0,University College London,All,All,All undergraduate,Full-time,2014/15,Geographic region - Other European Union,Austria,40
10007784.0,University College London,All,All,All undergraduate,Full-time,2014/15,Geographic region - Other European Union,Belgium,65
10007784.0,University College London,All,All,All undergraduate,Full-time,2014/15,Geographic region - Other European Union,Bulgaria,30
10007784.0,University College London,All,All,All undergraduate,Full-time,2014/15,Geographic region - Other European Union,Canary Islands,0

Code below removes all columns but 'Country of domicile' and 'Number'

In [5]:
number_by_country = ucl_fulltime_undergrad[['Country of domicile', 'Number']]
number_by_country.head()

           Country of domicile  Number
UKPRN
10007784.0       Åland Islands       0
10007784.0             Austria      40
10007784.0             Belgium      65
10007784.0            Bulgaria      30
10007784.0      Canary Islands       0

Export to a csv file

In [ ]:
number_by_country.to_csv(f'../data/hesa_cleaned/fulltime_undergrads_{year}.csv', index=False)