# Importing libraries/datasets and descriptive statistics

The following code imports the required libraries and the dataset:

In [6]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

data_path = '../completed_datasets/all_indexes.csv'
df =  pd.read_csv(data_path, index_col=False)

ModuleNotFoundError: No module named 'statsmodels'

A short overview of some descriptice statistics of the datasets:

In [ ]:
df.describe()

              Year  ...  Students nomalised
count   569.000000  ...          563.000000
mean   2016.525483  ...            0.001951
std       1.699151  ...            0.008344
min    2014.000000  ...            0.000001
25%    2015.000000  ...            0.000040
50%    2017.000000  ...            0.000191
75%    2018.000000  ...            0.000499
max    2019.000000  ...            0.059900

[8 rows x 10 columns]

# Linear Regression on the individual factors vs. normalised students

The following code performs regression between the normalised students and all of the separate factors. The output is an R-squared value and p-value.

In [4]:
String = ['GDP per Capita', 'Tertiary Education Enrollment','Tertiary Expenditure', 'GINI', 'HDI', 'Distance']
Sample = "Students normalised"

for factor in String:
  df =  pd.read_csv(data_path, index_col=False)
  df.dropna(subset = [factor], inplace=True)
  df.dropna(subset = [Sample], inplace=True)

  X = df[factor]
  y = df[Sample]
  X = sm.add_constant(X) # A constant must be added, as the statsmodels library does not automatically include a coefficient in their regression function

  model = sm.OLS(y, X).fit()
  predictions = model.predict(X)

  # Print out the statistics
  print('\033[1m' + factor + ' vs.' + '\033[0m')
  print('R squared:') 
  print(model.rsquared)
  
  print('p value:') 
  print(model.pvalues)
  print()

NameError: name 'data_path' is not defined

# Multiple Regression vs. normalised students

Multiple regression was performed on all the variables using the below code. As discusses in the methodology, variables with a VIF factor above 2 were iteratively dropped until all were below the threshold.

In [ ]:
String = ["GINI", "GDP per Capita", "Tertiary Education Enrollment", "Tertiary Expenditure", "Distance", "HDI"]
Sample = "Students normalised"

df =  pd.read_csv(data_path, index_col=False)
df.dropna(subset = String, inplace=True)
df.dropna(subset = [Sample], inplace=True)
# df = df[df['Year'] == 2015]
X = df[String]
y = df[Sample]
X = sm.add_constant(X)
# Note the difference in argument order
model = sm.OLS(y, X).fit()
predictions = model.predict(X) # make the predictions by the model

# Print out the statistics
print(model.summary())


pd.DataFrame({'variables':X.columns[1:], 'VIF':[variance_inflation_factor(X.values, i+1) for i in range(len(X.columns[1:]))]})

Iteratively dropping the variables left the following:

In [ ]:
String = ["GINI", "GDP per Capita", "Tertiary Education Enrollment", "Tertiary Expenditure"]
Sample = "Students normalised"

df =  pd.read_csv(data_path, index_col=False)
df.dropna(subset = String, inplace=True)
df.dropna(subset = [Sample], inplace=True)
# df = df[df['Year'] == 2015]
X = df[String]
y = df[Sample]
X = sm.add_constant(X)
# Note the difference in argument order
model = sm.OLS(y, X).fit()
predictions = model.predict(X) # make the predictions by the model

# Print out the statistics
print(model.summary())


pd.DataFrame({'variables':X.columns[1:], 'VIF':[variance_inflation_factor(X.values, i+1) for i in range(len(X.columns[1:]))]})

                             OLS Regression Results
===============================================================================
Dep. Variable:     Students normalised   R-squared:                       0.106
Model:                             OLS   Adj. R-squared:                  0.071
Method:                  Least Squares   F-statistic:                     3.002
Date:                 Thu, 30 Dec 2021   Prob (F-statistic):             0.0219
Time:                         12:00:44   Log-Likelihood:                 614.57
No. Observations:                  106   AIC:                            -1219.
Df Residuals:                      101   BIC:                            -1206.
Df Model:                            4
Covariance Type:             nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                             0.0016      0.001      2.681      0.009       0.000       0.003
GINI                          -1.927e-05   1.31e-05     -1.472      0.144   -4.52e-05     6.7e-06
GDP per Capita                 9.707e-09    4.5e-09      2.158      0.033    7.83e-10    1.86e-08
Tertiary Education Enrollment -1.055e-05   4.65e-06     -2.269      0.025   -1.98e-05   -1.33e-06
Tertiary Expenditure          -8.517e-06   1.29e-05     -0.660      0.511   -3.41e-05    1.71e-05
==============================================================================
Omnibus:                       91.358   Durbin-Watson:                   0.523
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              726.027
Skew:                           2.923   Prob(JB):                    2.21e-158
Kurtosis:                      14.411   Cond. No.                     3.20e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.2e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

                       variables       VIF
0                           GINI  1.305211
1                 GDP per Capita  1.304224
2  Tertiary Education Enrollment  1.325961
3           Tertiary Expenditure  1.195562